@font-face {
  font-family: "Migra";
  src: url(fontSito/Migra-Extralight.ttf) format("truetype");
}

a {
  color: inherit;
}

.body {
  background-color: #fefbec;
  font-family: "Migra", sans-serif;
  font-weight: 1000;
}

.header {
  width: 100%;
}

.logo {
  display: block; 
  margin: 0 auto;
  width: 7%;
}
/* 
.nav-container {
  background-color: #fefbec;
  margin-top: 2%;
  margin: 0 auto;
  height: 10%;
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
}

.nav-content {
  margin: 0 auto;
  background-color: #fefbec;
  color: black;
  text-decoration: none;
  text-align: center;
  margin-right: 8px;
  margin-right: 8px;
  font-size: 20px;
}

.nav-content:hover {
  cursor: pointer;
  color: #a8a69b;
} */

/*
||||  ||||   |||  ||||  || ||  |||| ||||||
|| || || || || || || || || || ||      ||   
||||  ||||  || || || || || || ||      ||   
||    || || || || || || || || ||      ||    
||    || ||  |||  ||||   |||   ||||   ||      
*/

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.product-card {
  transition: transform 0.5s ease;
  text-decoration: none;
  margin: 40px 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.product-card img {
  margin: 0;
  width: 250px;
  height: 250px;
}
.product-card h5 {
  margin: 0;
  font-size: 16px;
  width: 250px;
}
.product-card p {
  font-size: 13px;
}

.product-card:hover {
  transform: scale(0.9);
  cursor: pointer;
}

/*
 |||  ||||   |||  || || ||||||    
|| || || || || || || ||   ||      
||||| ||||  || || || ||   ||     
|| || || || || || || ||   ||        
|| || ||||   |||   |||    ||       
*/

.aboutus-container {
  position: relative;
  margin-top: 100px;
  margin-bottom: 18px;
  height: auto;
}

.aboutus-txt {
  text-align: center;
  font-size: 16px;
  color: black;
}

.video-container {
  width: 100%;
  margin-bottom: 50px;
}

.video {
  width: 480px;
  height: auto;
}

/*
 ||||  |||  ||   || ||||||  |||   |||| ||||||
||    || || |||| ||   ||   || || ||      ||
||    || || || ||||   ||   ||||| ||      ||
||    || || ||   ||   ||   || || ||      ||
 ||||  |||  ||   ||   ||   || ||  ||||   ||
*/

.contactus-container {
  margin-top: 100px;
  height: auto;
}

#email {
  font-size: 16px;
  font-family: "Migra";
  font-weight: 1000;
  width: 150px;
  margin-left: 10px;
  color: black;
  background-color: transparent;
  border: none;
}
#email:hover {
  cursor: pointer;
  color: #a8a69b;
}

#instagram {
  font-size: 16px;
  font-family: "Migra";
  font-weight: 1000;
  width: 100px;
  margin-left: 10px;
  margin-bottom: 1px;
  color: black;
  background-color: transparent;
  border: none;
  text-decoration: none;
  text-align: start;
}
#instagram:hover {
  cursor: pointer;
  color: #a8a69b;
}

/*
||||||  |||||         || || || ||||
||  ||  ||            || || || ||
|||||   ||||          || || || ||||
||  ||  ||            || || || ||
||   || |||| || || || ||  \|/  ||||
*/

@media only screen and (max-width: 768px) {
  .logo {
    width: 15%;
  }
  .nav-content {
    font-size: 20px;
  }
}
